.navListItem {
    color: white;
    text-decoration: none;
}

.listItem {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
}

.listItem:not(:first-child) {
    padding: 2%;
    margin-top: 1.5%;
    border-top: 2px solid #ffa000;
}

.listItem:hover {
    border-top: none;
    border-bottom: 2px solid #ffa000;
    font-weight: bold;
}